<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Message</title>
  </head>
  <body>
    <form form method="POST" action="/new">
      <h1>New Message</h1>
      <input type="text" name="userName" placeholder="Enter your name" required />
      <textarea name="userMessage" id="" placeholder="Enter your message"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
