/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Rubik', sans-serif;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  /*  */
  background-color: #102017;
  color: #fff;
}

/* 6. Improve media defaults */
img {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 88px;
  border-bottom: 1px solid #1c2b23;
  font-size: 2.4rem;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  font-size: 2.4rem;
}

.add-btn {
  padding: 8px 16px;
  border-radius: 32px;
  border: none;
  background-color: #36e27b;
}

.add-btn:hover {
  cursor: pointer;
}

.icon {
  background-color: #275339;
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #36e27b;
  border-radius: 8px;
}

.user {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid #102017;
  padding-bottom: 8px;
}

.name {
  font-weight: bold;
  margin-bottom: -4px;
}
.user-handle {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  gap: 16px;
  width: 100%;
}

.message {
  list-style: none;
  background-color: #1c2b23;
  padding: 16px;
  max-width: 800px;
  width: 100%;
  border-radius: 24px;
}

.message-content {
  padding-top: 16px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
